---
import Layout from "../layouts/Layout.astro";
import {ParticleField} from "../components/ParticleField"
import {ParticleBackground} from "../components/ParticleBackground"
import {ParticleDivider} from "../components/ParticleDivider"
import {Faq} from "../components/Faq"
import {CopyCommand} from "../components/CopyCommand"
import {Reveal} from "../components/Reveal"
---

<Layout>
	<div class="relative isolate w-full">
		<ParticleBackground client:load />
		<ParticleBackground client:load flipped className="h-[25lvh]" />
		<div class="w-full flex flex-col gap-8 max-w-2xl mx-auto px-4 pt-24 md:pt-32 pb-24 md:pb-32 selection:bg-blue-800/20">
			<ParticleField client:load />
			<h1 class="text-center text-neutral-200 text-4xl md:text-5xl text-pretty font-medium -mt-4 leading-9 md:leading-12 tracking-tight motion-preset-blur-up-lg motion-delay-300">
				The best way for your agents to talk to your database
			</h1>
			<div class="flex flex-col items-center md:flex-row gap-4 mx-auto mt-4 motion-preset-blur-up-lg motion-delay-500">
				<button class="h-12 w-52 md:w-40 rounded-sm bg-fg text-bg text-sm font-medium cursor-pointer hover:-translate-y-0.5 transition-all">
					Quick Start
				</button>
				<button class="h-12 w-40 rounded-sm bg-bg ring-[0.5px] ring-fg-faint text-sm text-fg-muted cursor-pointer hover:text-fg hover:ring-fg-muted transition-all hover:-translate-y-0.5 group">
					<i class="ph ph-star pr-1 inline-block translate-y-[1px]"></i>
					Star on GitHub
				</button>
			</div>
			<div class="w-full flex flex-col gap-32 mb-8 motion-preset-blur-up-lg motion-translate-y-in-[3%] motion-delay-600">
				<div class="w-full mt-32 gap-5 flex flex-col items-center">
					<div class="w-fit flex items-center gap-1 p-1 rounded-sm ring-[1px] ring-border bg-bg">
						<button class="h-7 px-3 rounded-[2px] bg-bg-muted text-fg text-sm flex items-center gap-2 cursor-pointer transition-colors">
							<svg width="1em" height="1em" viewBox="0 0 180 180" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M18 84.8528L85.8822 16.9706C95.2548 7.59798 110.451 7.59798 119.823 16.9706V16.9706C129.196 26.3431 129.196 41.5391 119.823 50.9117L68.5581 102.177" stroke="currentColor" stroke-width="12" stroke-linecap="round"/>
								<path d="M69.2652 101.47L119.823 50.9117C129.196 41.5391 144.392 41.5391 153.765 50.9117L154.118 51.2652C163.491 60.6378 163.491 75.8338 154.118 85.2063L92.7248 146.6C89.6006 149.724 89.6006 154.789 92.7248 157.913L105.331 170.52" stroke="currentColor" stroke-width="12" stroke-linecap="round"/>
								<path d="M102.853 33.9411L52.6482 84.1457C43.2756 93.5183 43.2756 108.714 52.6482 118.087V118.087C62.0208 127.459 77.2167 127.459 86.5893 118.087L136.794 67.8822" stroke="currentColor" stroke-width="12" stroke-linecap="round"/>
							</svg>
							MCP
						</button>
						<button class="h-7 px-3 rounded-[2px] text-fg-muted hover:text-fg text-sm flex items-center gap-2 cursor-pointer transition-colors">
							<svg width="1em" height="1em" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect fill="#fff" height="512" rx="50" width="512"/>
								<path clip-rule="evenodd" d="m316.939 407.424v50.061c8.138 4.172 17.763 7.3 28.875 9.386s22.823 3.129 35.135 3.129c11.999 0 23.397-1.147 34.196-3.442 10.799-2.294 20.268-6.075 28.406-11.342 8.138-5.266 14.581-12.15 19.328-20.65s7.121-19.007 7.121-31.522c0-9.074-1.356-17.026-4.069-23.857s-6.625-12.906-11.738-18.225c-5.112-5.319-11.242-10.091-18.389-14.315s-15.207-8.213-24.18-11.967c-6.573-2.712-12.468-5.345-17.685-7.9-5.217-2.556-9.651-5.163-13.303-7.822-3.652-2.66-6.469-5.476-8.451-8.448-1.982-2.973-2.974-6.336-2.974-10.091 0-3.441.887-6.544 2.661-9.308s4.278-5.136 7.512-7.118c3.235-1.981 7.199-3.52 11.894-4.615 4.696-1.095 9.912-1.642 15.651-1.642 4.173 0 8.581.313 13.224.938 4.643.626 9.312 1.591 14.008 2.894 4.695 1.304 9.259 2.947 13.694 4.928 4.434 1.982 8.529 4.276 12.285 6.884v-46.776c-7.616-2.92-15.937-5.084-24.962-6.492s-19.381-2.112-31.066-2.112c-11.895 0-23.163 1.278-33.805 3.833s-20.006 6.544-28.093 11.967c-8.086 5.424-14.476 12.333-19.171 20.729-4.695 8.395-7.043 18.433-7.043 30.114 0 14.914 4.304 27.638 12.912 38.172 8.607 10.533 21.675 19.45 39.204 26.751 6.886 2.816 13.303 5.579 19.25 8.291s11.086 5.528 15.415 8.448c4.33 2.92 7.747 6.101 10.252 9.543 2.504 3.441 3.756 7.352 3.756 11.733 0 3.233-.783 6.231-2.348 8.995s-3.939 5.162-7.121 7.196-7.147 3.624-11.894 4.771c-4.748 1.148-10.303 1.721-16.668 1.721-10.851 0-21.597-1.903-32.24-5.71-10.642-3.806-20.502-9.516-29.579-17.13zm-84.159-123.342h64.22v-41.082h-179v41.082h63.906v182.918h50.874z" fill="#000" fill-rule="evenodd"/>
							</svg>
							Typescript
						</button>
					</div>
					<div class="w-full flex flex-col">
						<CopyCommand client:visible command="npm i riptide" />
						<div class="w-full h-[400px] rounded-b-sm ring-[1px] ring-border bg-bg flex items-center justify-center">
							<span class="text-xs font-medium opacity-30">code example here</span>
						</div>
					</div>
				</div>
				<!-- <ParticleDivider className="-mt-28 -mb-28" client:load /> -->
				<Reveal client:visible className="w-full flex flex-col gap-4">
					<h2 class="text-xl text-center">Why use it?</h2>
					<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
						<div class="w-full h-[150px] rounded-sm ring-[1px] ring-border bg-bg flex items-center justify-center">
							<span class="text-xs font-medium opacity-30">a</span>
						</div>
						<div class="w-full h-[150px] rounded-sm ring-[1px] ring-border bg-bg flex items-center justify-center">
							<span class="text-xs font-medium opacity-30">b</span>
						</div>
						<div class="w-full h-[150px] rounded-sm ring-[1px] ring-border bg-bg flex items-center justify-center">
							<span class="text-xs font-medium opacity-30">c</span>
						</div>
						<div class="w-full h-[150px] rounded-sm ring-[1px] ring-border bg-bg flex items-center justify-center">
							<span class="text-xs font-medium opacity-30">d</span>
						</div>
					</div>
				</Reveal>
				<ParticleDivider className="-mt-20 -mb-20" client:load />
				<Reveal client:visible className="w-full flex flex-col gap-4">
					<h2 class="text-xl text-center">Benchmarks</h2>
					<div class="w-full h-[300px] rounded-sm ring-[1px] ring-border bg-bg flex items-center justify-center">
						<span class="text-xs font-medium opacity-30">benchmarks</span>
					</div>
				</Reveal>
				<Reveal client:visible className="w-full flex flex-col gap-4">
					<h2 class="text-2xl font-medium text-center">FAQ</h2>
					<Faq client:visible />
				</Reveal>
			</div>
		</div>
	</div>
</Layout>
